<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597121035718-tdtmou2st9barjom4g395hbchrj4vmkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597121035718-tdtmou2st9barjom4g395hbchrj4vmkl</string>
	<key>API_KEY</key>
	<string>AIzaSyAHCknFNZpwUBilNPqEztlvz8qb1Yr0kvM</string>
	<key>GCM_SENDER_ID</key>
	<string>597121035718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleansomething.app</string>
	<key>PROJECT_ID</key>
	<string>csfn-app</string>
	<key>STORAGE_BUCKET</key>
	<string>csfn-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597121035718:ios:bba01e49f6122078f596c7</string>
</dict>
</plist>